div.photoInfo {
  background-color: hsla(0, 9%, 80%, 0.431);
  border-radius: 50px;
}
div.image {
  height: 90%;
  width: 90%;
  margin: auto;
}

div.photoInfo h1 {
  background-color: hsla(0, 10%, 80%, 0.661);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.photoInfo img {
  margin: 10px;
  border-radius: 50px;
}
